/*********************************

Media queries

*********************************/


/*********************************

Header media queries

**********************************/

/* Medium screens */
@media only screen and (max-width: 660px) {

  table.container {

    width: 480px !important;

  }

  td.logo img {

    display: none;

  }

  td.logo {

    background: #fff url(../images/logo_medium.gif) no-repeat 10px 10px;
    height: 45px;

  }

}

/* Small screen */
@media only screen and (max-width: 510px) {

  table.container {

    width: 100% !important;

  }

  table.container td {

    border: none !important;

  }

  td.logo {

    background: #fff url(../images/logo_small.gif) no-repeat center 10px;
    height: 32px;

  }

}
