
/**********************************

main styles

***********************************/

/*********************************

Media queries

*********************************/


/*********************************

Header media queries

**********************************/

/* Medium screens */
@media only screen and (max-width: 660px) {

  table.container {

    width: 480px !important;

  }

  td.logo img {

    display: none;

  }

  td.logo {

    background: #fff url(../images/logo_medium.gif) no-repeat 10px 10px;
    height: 45px;

  }

  td.headline {

    padding: 5px 0px 0px 30px !important;

  }

  /***********************

  Switching the headline
  and banner for smaller
  screen sizes

  ************************/


  td.headline h1 {

    font-size: 28px !important;

  }

  td.banner img {

    display: none;

  }

  td.banner {

    width: 480px;
    height: 150px;
    background: url(../images/banner_medium.jpg) no-repeat 0px 0px;

  }

  td.headline {

    padding: 5px 0px 0px 30px !important;

  }

  td.headline h1 {

    font-size: 28px !important;

  }

  td.banner img {

    display: none;

  }

  td.banner {

    width: 480px;
    height: 150px;
    background: url(../images/banner_medium.jpg) no-repeat 0px 0px;

  }

  /**********************************

  content and footer for medium screens

  ************************************/

  td.content {

    padding-bottom: 30px !important;
    background-image: url(../images/banner_medium_ghost.jpg) !important;

  }

  td.content table.button {

    width: auto;

  }

  td.content table.button td a {

    font-size: 14px !important;

  }


}

/* Small screen */
@media only screen and (max-width: 510px) {

  table.container {

    width: 100% !important;

  }

  table.container td {

    border: none !important;

  }

  td.logo {

    background: #fff url(../images/logo_small.gif) no-repeat center 10px;
    height: 32px;

  }

  /******************************

  Headline and banner for smaller
  and screen sizes

  *******************************/

  td.headline h1 {

    font-size: 24px !important;
    text-align: center;

  }

  td.banner {

    height: 115px;
    background: url(../images/banner_small.jpg) no-repeat right 0px;

  }


  td.headline h1 {

    font-size: 24px !important;
    text-align: center;

  }

  td.banner {

    height: 115px;
    background: url(../images/banner_small.jpg) no-repeat right 0px;

  }

  /**********************************

  content and footer for small screens

  ************************************/

  td.content {

    line-height: 20px !important;
    padding-bottom: 10px !important;
    background: #f5f2e5 url(../images/banner_small_ghost.jpg) no-repeat right 0px !important;

  }

  td.footer {

    padding: 20px 30px !important;

  }

}
